#show-modal5:hover{
    background: #d9d9d9;
    border-radius: 25px;
    cursor: pointer;
 }

 .modal5{
    z-index: 100000 !important;
     background-color: rgba(0,0,0,0.8);
     position: fixed;
     top: 0;
     left: 0;
     overflow: auto;
     display:flex;
     height: 100%;
     width: 100%;
     justify-content: center;
     align-items: center;
    
 }


.modal_contents5{
    background-color: #fff;
    padding: 7rem 5rem;
    border-radius: 25px;
}



.modal_close_bar5{
    display: flex;
    justify-content: flex-end;
    margin-right: -2rem;
    margin-top: -1rem;
    cursor: pointer;

}

.modal--hidden5{
    display: none;
}

#github5{

    position: relative;
    right: 100%;
    top: 63%;
    height: 10%;
    width: 12%;
    cursor: pointer;

}

#link5{
    
    position: relative;
    right: 90%;
    top: 65%;
 
}